header {
  border: 3px dotted white;
  border-radius: 25px;
  margin: 20px;
  padding:10px;
  letter-spacing: 3px;
  text-align:center;
  font-style: Verdana,Geneva, sans-serif;
}
a:link {
  color:grey;
  font-style: Verdana,Geneva, sans-serif;
  
}

a:visited {
  color:grey;
  font-style: Verdana,Geneva, sans-serif;
}

body {
  color:grey;
  font-size:19px;
  background-color: #ccffff;
  font-style: Verdana,Geneva, sans-serif;
}

h1 {
  border:5px solid white;
  border-radius:25px;
  font-size: 100px;
  font-weight: lighter;
  text-align: center;
  color:black;
  font-family:Verdana,Geneva,sans-serif ;
}

h2{
  border:3px dotted white;
  border-radius:25px;
  font-weight: lighter;
  text-align:center;
  font-size:40px;
  color:#ffb3b3;
  font-family:Verdana, Geneva, sans-serif;
}

footer {
  color:pink;
  font-size: 0.75em;
  text-align: center;
}

p {
font-family:Verdana, Geneva, sans-serif;
text-align: center;
}

ul {
  font-family:Verdana, Geneva, sans-serif;
}

ol {
  font-family:Verdana, Geneva, sans-serif;
}
address {
  color:green;
  text-align:center;
  font-weight:bold
}
